<!--
    Copyright 2012, 2014 Ed Carter

    This file is part of Deadbolt Password Generator.

    Deadbolt Password Generator is free software: you can redistribute
    it and/or modify it under the terms of the GNU General Public
    License as published by the Free Software Foundation, either
    version 3 of the License, or (at your option) any later version.

    Deadbolt Password Generator is distributed in the hope that it
    will be useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Deadbolt Password Generator.  If not, see
    <http://www.gnu.org/licenses/>.
 -->
<!DOCTYPE html>
<html ng-app="deadboltPasswordGeneratorApp">
<head>
    <title>Deadbolt</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="css/options.css" rel="stylesheet" media="screen" />
    <script src="js/angular.min.js"></script>
    <script src="js/deadbolt.js"></script>
    <script src="js/tracking.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
</head>
<body ng-controller="settingsCtrl">
    <div class="titleBar">
        <div class="container">
            <h1><span>Deadbolt Password Generator</span></h1>
        </div>
    </div>
    <div class="container">

        <div>
            <h4>Profiles<small class="pull-right help-button" ng-click="showProfileHelp = !showProfileHelp"><i class="icon icon-question-sign"></i> help</small></h4>
            <div class="alert alert-info" ng-show="showProfileHelp">
                <p>Profiles allow you to configure how the final password will be output, for example by setting length or whether it includes special characters (e.g. '£$^!'). An optional PIN can be set to differentiate your passwords further, although passwords are just as strong without.</p>
            </div>

            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul id="profileTabs" class="nav nav-tabs">
                    <li ng-repeat="p in profiles" ng-class="{active: activeTab == $index}" ng-click="setActiveTab($index)">
                        <a class="tabTitle">
                            <span class="close" ng-show="profiles.length != 1" ng-click="removeProfile($index)">&times;</span>
                            <span>{{ p.name }}</span>&nbsp;
                        </a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane" ng-repeat="p in profiles" ng-class="{active: activeTab == $index}">

                        <div class="form-horizontal">

                            <div class="control-group">
                                <label class="control-label" for="name">Name</label>
                                <div class="controls">
                                    <input type="text" id="name" ng-model="p.name" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputEmail">Include Symbols</label>
                                <div class="controls">
                                    <toggle-button ng-model="p.includeSymbols" db-model="p.includeSymbols"></toggle-button>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputPassword">Case Sensitive</label>
                                <div class="controls">
                                    <toggle-button ng-model="p.caseSensitive"></toggle-button>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputPassword">Use Pin Number</label>
                                <div class="controls">
                                    <toggle-button ng-model="p.usePinNumber" ng-change="pinOptionChanged(p)"></toggle-button>
                                </div>
                            </div>

                            <div class="control-group" ng-show="p.usePinNumber">
                                <label class="control-label" for="inputPassword">Pin Number</label>
                                <div class="controls pinNumber">
                                    <select ng-model="p.pin1">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                    <select ng-model="p.pin2">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                    <select ng-model="p.pin3">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                    <select ng-model="p.pin4">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="passwordLength">Password Length</label>
                                <div class="controls">
                                    <input id="passwordLength" type="range" min="5" max="15" step="1" ng-model="p.passwordLength" data-bind="value: passwordLength" />
                                    <span>{{p.passwordLength}}</span>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="well">
                <button type="button" class="btn btn-primary" ng-click="createProfile()">Add Profile</button>
                <div class="form-horizontal pull-right">
                    <div class="control-group">
                        <label class="control-label" for="ddDefaultProfile">Default Profile</label>
                        <div class="controls">
                            <select ng-options="p.name for p in profiles" ng-model="defaultProfile"></select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr />



        <div>

            <h4>Copying to Clipboard<small class="pull-right help-button" ng-click="showClipboardHelp = !showClipboardHelp"><i class="icon icon-question-sign"></i> help</small></h4>

            <div class="alert alert-info" ng-show="showClipboardHelp">
                <p>When selecting the 'copy' option, the password is automatically copied to the clipboard ready for pasting. It is recommended that this is automatically cleared after a set period of time.</p>
            </div>
            <div class="row">
                <div class="span6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="clipboardSettings.enabled"> Enable Clipboard Clearing
                        </label>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="clipboardSeconds">Password remains in clipboard for:</label>
                        <select ng-model="clipboardSettings.seconds" ng-disabled="!clipboardSettings.enabled">
                            <option value="5">5 seconds</option>
                            <option value="10">10 seconds</option>
                            <option value="15">15 seconds</option>
                            <option value="20">20 seconds</option>
                            <option value="25">25 seconds</option>
                            <option value="30">30 seconds</option>
                        </select>
                    </div>
                </div>
            </div>

            <hr />

            <div>

                <h4>Enter Key<small class="pull-right help-button" ng-click="showEnterKeyHelp = !showEnterKeyHelp"><i class="icon icon-question-sign"></i> help</small></h4>

                <div class="alert alert-info" ng-show="showEnterKeyHelp">
                    <p>When entering a password, pressing enter can toggle events instead of pressing the relevant button.</p>
                </div>

                <div class="row">
                    <div class="span6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="enterKeyEnabled" ng-model="enterKeySettings.enabled" /> Enable Enter Key on Password Entry
                            </label>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="enterKeyBehaviour">Enter key toggles action:</label>
                            <div class="controls">
                                <select id="enterKeyBehaviour" ng-model="enterKeySettings.behaviour" ng-disabled="!enterKeySettings.enabled">
                                    <option value="R">Reveal</option>
                                    <option value="C">Copy</option>
                                    <option value="AR">Autofill/Reveal</option>
                                    <option value="AC">Autofill/Copy</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="toggle-save" ng-show="changesMade">
            <div class="container">
                <button type="button" class="btn btn-success" ng-click="save()">Save</button>
                Your changes have not yet been saved
            </div>
        </div>
    </div>
</body>
</html>