#entry {
    width: 550px;
}

.pinNumber select {
    width: 4em;
}

h1 span {
    display: none;
}

h1 {
    width: 198px;
    height: 42px;
    background: url('../img/deadbolt-logo.png');
}

.titleBar {
    background: #414141;
    margin-bottom: 1em;
}

.tabTitle {
    cursor: pointer;
}
