#entry {
    width: 550px;
}

.pinNumber select {
    width: 4em;
}

h1 span {
    display: none;
}

h1 {
    width: 198px;
    height: 42px;
    background: url('../img/deadbolt-logo.png');
}

.titleBar {
    background: #414141;
    margin-bottom: 1em;
}

.tabTitle {
    cursor: pointer;
}

body { padding-bottom: 100px; }

.toggle-save {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    background: #414141;
    padding: 10px 0;
    color: #ccc;
}

 .help-button {
     cursor: pointer;
 }