#entry {
    width: 550px;
}

.pinNumber select {
    width: 5em;
    display: inline-block;
}

h1 span {
    display: none;
}

h1 {
    width: 198px;
    height: 42px;
    background: url('../img/deadbolt-logo.png');
    margin-top: 20px;
    margin-bottom: 15px;
}

.titleBar {
    background: #414141;
    margin-bottom: 1em;
}

.tabTitle {
    cursor: pointer;
}

body { padding-bottom: 100px; }

.toggle-save {
    transition: all ease 0.2s;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    background: #414141;
    padding: 10px 0;
    color: #ccc;
}

.toggle-save.ng-hide {
    bottom: -50px;
}

 .help-button {
     cursor: pointer;
 }

.nav-tabs {
    margin-bottom: 15px;
}

.alert {
  transition:all ease 0.1s;
  opacity:1;
}

.alert.ng-hide {
    opacity:0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}