#extension-container
{
    width: 450px;
    background: #444;
}
dl
{
    margin: 0;
    border-right: solid 1px #eee;
    display: inline-block;
    width: 20px;
}
dt
{
    text-align: center;
    font-size: 1em;
    color: #999;
}
dd
{
    margin: 0;
    text-align: center;
}

dl:first-child
{
    border-left: solid 1px #eee;
}

#fullPassword
{
    font-size: 2em;
    text-align: center;
    margin: 1em;
}

#fullPassword, dd
{
    font-family: Courier New, Courier, Terminal;
    font-weight: bold;
}

#passChars
{
    text-align: center;
}

.panel
{
    width: 380px;
    height: 130px;
    margin: auto;
    padding: 10px;
    -webkit-perspective: 1000;
}
.panel .front
{
    z-index: 900;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .7s ease-in-out;
}
.panel.flip .front
{
    z-index: 900;
    -webkit-transform: rotateY(180deg);
}

.panel .back
{
    z-index: 800;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .7s ease-in-out;
}

.panel.flip .back
{
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
}

/* -- X axis rotation for click panel -- */
.click .front
{
    -webkit-transform: rotateX(0deg);
}
.click.flip .front
{
    -webkit-transform: rotateX(180deg);
}
.click .back
{
    -webkit-transform: rotateX(-180deg);
}
.click.flip .back
{
    -webkit-transform: rotateX(0deg);
}
h1 span
{
    display: none;
}
h1
{
    width: 198px;
    height: 42px;
    background: url('../img/deadbolt-logo.png');
}
#menu
{
    float: right;
}

#menu a {
    background: #111;
}

#passwordCopied, #passwordInjected p
{
    padding-top: 50px;
    text-align: center;
}

#entry {
    width: 550px;
}

.pinNumber select {
    width: 4em;
}
.titleBar {
    background: #414141;
    margin-bottom: 1em;
}
.tabTitle {
    cursor: pointer;
}

#entryForm, #passwordPanel {
    background: #fff;
    padding: 25px;
    height: 180px;
}

.btn {
    border-radius: 0px;
}

#passwordButtons {
    margin: 15px 0;
}

.animate-fade
{
    transition:all linear .3s;
    position: absolute;
    width: 100%;
    opacity:1;
    left: 0;
}

.animate-fade.ng-hide
{
    transition:all linear 0.3s;
    opacity:0;
}

.flipped {
    -webkit-transform: rotateX(180deg);
}

#deadboltContainer, #entryForm, #passwordPanel {
    height: 180px;
    width: 420px;
    -webkit-perspective: 1000;
}

#deadboltCard {
    -webkit-transition: 0.9s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

#entryForm, #passwordCard {
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

#entryForm {
	z-index: 2;
}

#passwordPanel {
	-webkit-transform: rotateX(180deg);
    -webkit-backface-visibility: hidden;
}