<!--
    Copyright 2014 Ed Carter

    This file is part of Deadbolt Password Generator.

    Deadbolt Password Generator is free software: you can redistribute
    it and/or modify it under the terms of the GNU General Public
    License as published by the Free Software Foundation, either
    version 3 of the License, or (at your option) any later version.

    Deadbolt Password Generator is distributed in the hope that it
    will be useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Deadbolt Password Generator.  If not, see
    <http://www.gnu.org/licenses/>.
 -->
<div class="modal-header">
    <h3 class="modal-title">Export Settings</h3>
</div>
<div class="modal-body">
    <p>
        If you are signed in to Chrome, your settings are automatically backed up and sychronised with your Google account, however it's a good idea to keep a
        backup. This can be useful if you ever need to restore your settings or want to use Deadbolt on a version of Chrome that you don't sign in to
        (e.g. a work computer).
    </p>
    <p>
        Download your settings to a file by pressing 'Export Settings' button below, and keep the file stored somewhere safe.
    </p>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" download="deadbolt-settings.txt" ng-href="{{ downloadUrl }}">Export Settings</a>
    <button class="btn btn-warning" ng-click="close()">Close</button>
</div>