<!--
    Copyright 2014 Ed Carter

    This file is part of Deadbolt Password Generator.

    Deadbolt Password Generator is free software: you can redistribute
    it and/or modify it under the terms of the GNU General Public
    License as published by the Free Software Foundation, either
    version 3 of the License, or (at your option) any later version.

    Deadbolt Password Generator is distributed in the hope that it
    will be useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Deadbolt Password Generator.  If not, see
    <http://www.gnu.org/licenses/>.
 -->
<div class="modal-header">
    <h3 class="modal-title">Import Data</h3>
</div>
<div class="modal-body">
    <p>Import your settings using the file selector below. Your imported settings will not overwrite your existing settings until you save them, and you will have a chance to cancel them if necessary.</p>
    <form role="form">
        <div class="form-group">
            <input type="file" db-file-change="fileChanged" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <p class="pull-left error" ng-show="importAttempted && !importable">Selected file is not a valid settings file.</p>
    <a class="btn btn-primary" ng-click="import()" ng-disabled="!importable">Import</a>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
